{% extends 'main/includes/main.html' %}
{% block content %}
<div class="content">
    <div class="container">
        <div class="container-inner">
            <div class="categories">
                <span class="categories">Категории</span>
            </div>
            <table class="table fs-14 fw-m">
                <tbody class="fw-m">
                    {% for category in categories %}
                    <tr item-id="{{ category.id }}" class="category-item">
                        <td>
                            <img src="http://favicon.yandex.net/favicon/{{category.domain}}"> 
                            <a class="blue-4 tt-up" href="/category/{{ category.name }}/" style="letter-spacing: 0.5px; padding-left: 3px;"> {{ category.name }}</a></td>
                        <td class="numerals">Аккаунты на любой вкусец!<!-- {{ category.comment}} --></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    
    <article>
        <div class="container">
            <div class="container-inner">
                <h1>{{ data.seo_h1 }}</h1>
                {{ data.content|safe }}
            </div>
        </div>
    </article>
</div>
{% endblock %}