{% extends 'main/includes/main.html' %}
{% block content %}
    <section class="content">
        <div class="container">
            <div class="prodaem">
                {% for client in clients %}
                    <div class="sell_title">{{ client.client.mail }}</div>
                    {% for order in client.orders.all %}
                        <div class="sell_item">
                            #{{order.pk}} -> {{ order.hash }} [ {{ order.item.}}], Категория: {{order.item.category}}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <article>
            <div class="container">
                <div class="container-inner">
                    <h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}Пусто...{% endif %}</h1>
                    {% if data.content %}{{ data.content }}{% else %}И тут тоже пустоооо...{% endif %}
                </div>
            </div>
        </article>
    </section>
{% endblock %}