{% extends 'main/includes/main.html' %}
{% block content %}
    <div class="content">
        {% for it in table %} 
        {% if it %}
        <div class="container">
            <div class="account_brand fs-18 tt-up toggle center">
                
                <span class="brand-name">{{ it.1 }}</span>
            </div>

            <div class="container-inner">
                <table class="table fs-14">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="account_type">Тип аккаунта</th>
                            <th scope="col" class="account_price numerals">Стоимость (<span class="rouble-sign">₽</span>)</th>
                            <th scope="col" class="account_count hidden-xs numerals">Количество (шт)</th>
                            <th scope="col" class="account_purchase center w-120">Приобрести</th>
                        </tr>
                    </thead>

                    <tbody class="fw-m">
                        {% for i in it.0 %}
                        <tr item-id="{{ i.id }}">
                            <td><img src="http://favicon.yandex.net/favicon/{{it.3}}" style="margin-top: -4px;"> <a class="blue" href="product/{{i.alias}}/" style="padding-left: 3px;">{{ i.name }}</a></td>
                            <td class="numerals"><span class="item_price">{{ i.price|floatformat }}</span> <span class="rouble-sign">₽</span></td>
                            <td class="hidden-xs numerals">{{ i.count }} <span class="small">шт</span></td>
                            <td class="center w-120">
                                <a class="white btn-purchase" href="javascript:" data-toggle="modal" data-target=".bd-example-modal-lg.create"
                                    onclick="$('input[name=item_price]').val($(this).parents('tr').find('.item_price').text()); $('.select_item_id option[value=' + $(this).parents('tr').attr('item-id') + ']').attr('selected','selected')">
                                    <i class="fa fa-shopping-cart white"></i> 
                                    <span>Купить</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <article>
            <div class="container">
                <div class="container-inner p35">
                    <h1>{{ data.seo_h1 }}</h1>
                    {{ data.content|safe }}
                </div>
            </div>
        </article>
    </div>
</div>

<div class="modal fade bd-example-modal-lg create" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title"> Купить аккаунт </span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row-input-item">
        			    <div class="col-md-12 left-bl">
        				    Название товара
        			    </div>
                        <input type="hidden" name="item_price">
                        <div class="col-md-12 mt-5">
                            <select class="form-control select_item_id" disabled>
                            {% for it in table %}
                                {% for i in it.0 %}
                                <option value="{{ i.id }}">{{ i.name }}</option>
                                {% endfor %}
                            {% endfor %}
                            </select>
                        </div>
                    </div>
			        
                    <div class="row-input-item">
                        <div class="col-md-12"> 
                            Количество товара <button type="button" class="payment_tooltip" data-toggle="tooltip" data-placement="top" title="Количество аккаунтов, которое вы желаете приобрести"><i class="fa fa-question-circle"></i></button>
                        </div>

                        <div class="col-md-12 mt-5">
                            <input type="text" class="form-control" name="item_count" placeholder="Количество товара">
                        </div>
                    </div>
			        
                    <div class="row-input-item">
                        <div class="col-md-6">
                            Адрес эл. почты <button type="button" class="payment_tooltip" data-toggle="tooltip" data-placement="top" title="На этот адрес мы отправим данные, которые вы получаете при покупке."><i class="fa fa-question-circle"></i></button>
                        </div>

                        <div class="col-md-12 right-bl mt-5">
                            <input type="text" class="form-control" name="mail" placeholder="Адрес эл. почты">
                        </div>
                    </div>

                    <div class="row-input-item">
                        <div class="col-md-12">
                            <span><span class="small-1">Примечание.</span> <span class="small">После оплаты товара вы автоматически получаете данные для входа. Сумму необходимо указывать ровно ту, как указано системой.</span> </span>
                        </div>
                    </div>
			 
			        <div class="row row-input-item paymethods margin-0">
                        <div class="col col-xs-12 paymethod">
                            <div class="inner">
                                <a class="col-xs-12 btn btn-primary btn-custom qiwi w-100" href="javascript:">QIWI</a> 
                            </div>
                        </div>

                        <div class="col col-xs-12 paymethod">
                            <div class="inner">
                                <a class="col-xs-12 btn btn-warning btn-custom w-100" href="#">Yandex.Money</a>  
                            </div>
                        </div>

                        <div class="col col-xs-12 paymethod">
                            <div class="inner">
                                <a class="col-xs-12 btn btn-primary-sat btn-custom w-100" href="#">WebMoney</a>
                            </div>
                        </div>
			        </div>
                </div>
	        </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg check_order" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title"> Примечание к заказу </span>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-family: Arial;">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">Сумма к оплате: </div>
                    <div class="col-md-6"><div class="right sum_to_pay"> <span class="rouble-sign">₽</span></div></div>
                    <div class="col-md-6">Примечание: </div>
                    <div class="col-md-6"><div class="right prim"></div></div>
                </div>
            </div>

            <div class="modal-footer">
                <a class="btn btn-default btn-custom btn-primary" href="javascript:" onclick="check_pay()">Проверить оплату</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  VK.init({apiId: 6332549, onlyWidgets: true});
</script>
<div id="vk_comments"></div>
<script type="text/javascript">
 VK.Widgets.Comments('vk_comments');
</script>
{% endblock %}