{% extends 'main/includes/main.html' %}
{% block content %}
    <section class="content">
        <div class="container">
            <div class="container-inner">
                <p>Название продукта: <img src="http://favicon.yandex.net/favicon/{{ product.category }}.ru"> {{product.name}}</p>
                <p>Цена за 1 шт: {{product.price}}</p>
                <p>Описание: {{product.description}}</p>
            </div>
        </div>
        <article>
            <div class="container">
                <div class="container-inner">
                    <h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}Пусто...{% endif %}</h1>
                    {% if data.content %}{{ data.content }}{% else %}И тут тоже пустоооо...{% endif %}
                </div>
            </div>
        </article>
    </section>
</div>

<div class="modal fade bd-example-modal-lg create" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"> Купить аккаунт </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row row-input-item">
                        <div class="col-md-6 left-bl">
                            Название товара
                        </div>
                        <input type="hidden" name="item_price">
                        <div class="col-md-12 right-bl mt-5">
                            <select class="form-control select_item_id" disabled>
                                {% for it in table %}
                                    {% for i in it.0 %}
                                        <option value="{{ i.id }}">{{ i.name }}</option>
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="row row-input-item">
                        <div class="col-md-6 left-bl">
                            Количество товара
                        </div>
                        <div class="col-md-12 right-bl mt-5">
                            <input type="text" class="form-control" name="item_count" placeholder="Количество товара">
                        </div>
                    </div>
                    
                    <div class="row row-input-item">
                        <div class="col-md-6 left-bl">
                            Адрес эл. почты
                        </div>
                        <div class="col-md-12 right-bl mt-5">
                            <input type="text" class="form-control" name="mail" placeholder="Адрес эл. почты">
                        </div>
                    </div>
                    
                    <div class="row row-input-item paymethods">
                        <div class="col-md-4 col-xs-12 paymethod">
                            <div class="inner">
                                <a class="col-xs-12 btn btn-primary btn-custom qiwi" href="javascript:">QIWI</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 paymethod">
                            <div class="inner">
                                <a class="col-xs-12 btn btn-warning btn-custom" href="#">Yandex.Money</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 paymethod">
                            <div class="inner">
                                <a class="col-xs-12 btn btn-primary-sat btn-custom" href="#">WebMoney</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg check_order" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-family: Arial;">&times;</span></button>
                <h4 class="modal-title"> Примечание к заказу </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 right-bl">Сумма к оплате: </div>
                    <div class="col-md-6 sum_to_pay">
                        
                    </div>
                    <div class="col-md-6 right-bl">Примечание: </div>
                    <div class="col-md-6 prim"></div>
                    <div class="col-md-12 pt-2">
                        <a class="btn btn-default btn-custom btn-primary" href="javascript:" onclick="check_pay()">Проверить оплату</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}