{% extends 'main/includes/main.html' %}
{% block content %}
    
    <section class="content">
        <article>
            <div class="container">
                <div class="container-inner">
                    <h1>{% if data.seo_h1 %}{{ data.seo_h1 }}{% else %}Пусто...{% endif %}</h1>
                    {% if data.content %}{{ data.content }}{% else %}И тут тоже пустоооо...{% endif %}
                </div>
            </div>
        </article>
    </section>
</div>
{% endblock %}