﻿{% extends 'getshop/_base.html' %}
{% block main %}
{% block if_flying %}
<section class="bg_fon">
    {% if data.background %}<img src="{{ data.background.url }}">{% else %}<img src="/static/getshop/images/background_product.jpg">{% endif %}
</section>
{% endblock %}
<section class="publications" style="background: #eee;">
    <div class="container">
        <div class="col-md-12">
            <div class="breadcrumbs">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__link">Главная</a></li>
                    <li class="breadcrumbs__item"><a href="/category/{{ data.category.alias }}/" class="breadcrumbs__link">{{ data.category.name }}</a></li>
                    <li class="breadcrumbs__item"><span class="breadcrumbs__link">{{ data.name }}</span></li>
                </ul>
            </div>
            <h1 class="big_h1">{{ data.name }}</h1>
        </div>
        <div class="col-md-4">
            <div class="right_col_wrap left">
                <div class="product__image-block">
                    <a href="#" class="product__image-screens-link">
                        <div class="product__image">
                            {% if data.itemimage %}<img class="product__image-inner" src="{{ data.itemimage.url }}" alt="Купить Fallout 4 VR" itemprop="image">{% else %}<img class="product__image-inner" src="/static/getshop/images/fallout-4.jpg" alt="Купить Fallout 4 VR" itemprop="image">{% endif %}
                        </div>
                        <div class="product__image-screens">
                            <div class="product__image-screens-ico">
                                <svg xmlns="http://www.w3.org/2000/svg" width="34" height="35" viewBox="0 0 33 33">
                                    <path fill="#ffdb59" fill-rule="evenodd" d="M16.5 0A16.5 16.5 0 1 1 0 16.5 16.5 16.5 0 0 1 16.5 0Zm0 1A15.5 15.5 0 1 1 1 16.5 15.5 15.5 0 0 1 16.5 1ZM24 16L14 22V10Z"></path>
                                </svg>
                            </div>
                            Трейлер и скриншоты
                        </div>
                    </a>
                </div>
                <div class="product__info product__block">
                    <ul class="product__info-list">
                        {% if data.category.genre %}<li class="product__info-item">
                            <div class="product__info-key">
                                Жанр
                            </div>
                            <div class="product__info-value">
                                <ul class="product__info-inner-list">
                                    <li class="product__info-list-item"><a href="javascript:" class="product__info-link">{{ data.category.genre }}</a></li>
                                </ul>
                            </div>
                        </li>{% endif %}
                        {% if data.category.language %}<li class="product__info-item">
                            <div class="product__info-key">
                                Язык
                            </div>
                            <div class="product__info-value">
                                {{ data.category.language }}
                            </div>
                        </li>{% endif %}
                        {% if data.category.release %}<li class="product__info-item">
                            <div class="product__info-key">
                                Дата выхода
                            </div>
                            <div class="product__info-value">
                                {{ data.category.release }}
                            </div>
                        </li>{% endif %}
                        {% if data.category.creator %}<li class="product__info-item">
                            <div class="product__info-key">
                                Издатель
                            </div>
                            <div class="product__info-value">
                                <a href="javascript:" class="product__info-link product__info-link--default">{{ data.category.creator }}</a>
                            </div>
                        </li>{% endif %}
                        {% if data.category.razrab %}<li class="product__info-item">
                            <div class="product__info-key">
                                Разработчик
                            </div>
                            <div class="product__info-value">
                                {{ data.category.razrab }}
                            </div>
                        </li>{% endif %}
                        {% if data.category.osob %}<li class="product__info-item">
                            <div class="product__info-key">
                                Особенности
                            </div>
                            <div class="product__info-value">
                                <ul class="product__info-inner-block-list">
                                    <li class="product__info-list-block-item">
                                        {{ data.category.osob }}
                                    </li>
                                </ul>
                            </div>
                        </li>{% endif %}
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="production_list col-md-8 col-sm-8 left">
            <div class="product__advantages col-md-6">
                <ul class="product__advantages-list">
                    <li class="product__advantages-item product__advantages-item--available">
                    Наличие: <span class="product__advantages-orange">мало</span>
                    </li>
                    <li class="product__advantages-item product__advantages-item--delivery">
                    Моментальная доставка на e-mail
                    </li>
                    <li class="product__advantages-item product__advantages-item--license">
                    Лицензионный <span class="product__advantages-orange">ключ</span> активации в STEAM
                    </li>
                    <li class="product__advantages-item product__advantages-item--discount">
                    Накопительная скидка до 10%
                    </li>
                </ul>
            </div>
            <div class="product__cart-block col-md-6">
                <div class="product__price-block" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                    <div class="product__discount">
                        - {% if data.discount %}{{ data.discount }}{% else %}0{% endif %}%
                    </div>
                    <div class="product__price">
                        <div class="product__old-price">
                            {{ data.discount_price|floatformat:"-2" }} руб.
                        </div>
                        <div class="product__current-price">
                            {{ data.price|floatformat:"-2"}} <sup class="product__price-curr">руб.</sup>
                        </div>
                    </div>
                </div>
                <div class="product__md-block">
                    <div class="product__buy-block">
                        <div class="product__buy">
                            <button class="product__buy-button open-modal" data-modal-id="modal-buyform">
                            <span><span class="product__buy-button-mob-hide">Купить<!--Добавить </span>в корзину--></span>
                            </button>
                            <!--<div class="product__buy-in-cart product__buy-in-cart--hide">
                                <form action="/order" method="GET">
                                    <button class="product__buy-button product__buy-button--active">
                                    <span>В корзине</span>
                                    </button>
                                </form>
                            </div>-->
                        </div>
                        <!--<div class="product__wish">
                            <button class="product__wish-button" data-id="3618">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="24">
                                    <defs>
                                        <linearGradient id="PSgrad_2">
                                            <stop offset="0%" stop-color="rgb(0,148,233)"></stop>
                                            <stop offset="100%" stop-color="rgb(1,181,153)"></stop>
                                        </linearGradient>
                                        <linearGradient id="PSgrad_1">
                                            <stop offset="0%" stop-color="rgb(255,65,72)"></stop>
                                            <stop offset="100%" stop-color="rgb(255,121,58)"></stop>
                                        </linearGradient>
                                    </defs>
                                    <path d="M25.7 2.2C24.3 0.8 22.3 0 20.2 0 18.1 0 16.2 0.8 14.7 2.2L14 2.9 13.3 2.2C11.8 0.8 9.8 0 7.8 0 5.7 0 3.7 0.8 2.3 2.2 -0.8 5.2-0.8 10 2.3 13L13.1 23.7C13.3 23.8 13.5 23.9 13.8 24 13.8 24 13.9 24 14 24 14.3 24 14.6 23.9 14.8 23.7L25.7 13C28.8 10 28.8 5.2 25.7 2.2ZM24 11.3L14 21.2 4 11.3C1.9 9.3 1.9 6 4 3.9 5 2.9 6.3 2.4 7.8 2.4 9.2 2.4 10.5 2.9 11.6 3.9L13.1 5.4C13.6 5.9 14.4 5.9 14.8 5.4L16.4 3.9C17.4 2.9 18.8 2.4 20.2 2.4 21.7 2.4 23 2.9 24 3.9 26.1 6 26.1 9.3 24 11.3Z" fill="url(#PSgrad_2)"></path>
                                </svg>
                            </button>
                        </div>-->
                    </div>
                    <div class="product__cart-block-links">
                        <div class="product__how-activate">
                            <a target="_blank" href="/steam-activation" class="product__cart-block-link product__cart-block-link--steam">
                            <span>Как активировать?</span>
                            </a>
                        </div>
                        <div class="product__socials">
                            <div class="product__socials-wrapper">
                                <button class="product__cart-block-link product__cart-block-link--socials" style="padding: 10px 34px 10px 34px; text-align: center;">
                                <span>Поделиться</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <article class="content_block">
                <h2>Описание</h2>
                {{ data.content|safe }}
                {% if data.video %}{{ data.video|safe }}{% endif %}
            </article>
        </div>
    </div>
</section>
<div class="hidden">
    <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml" id="yandex">
        <input type="hidden" name="receiver" value="410015232882674"> 
        <input type="hidden" name="quickpay-form" value="shop">
        <input type="hidden" name="targets" value="royal-accs [{{ rand_num }}]">
        <input type="hidden" name="sum" value='{{ data.price|floatformat:"-2" }}'>
        <input type="hidden" name="paymentType" value="PC">
        <input type="hidden" name="successURL" value="http://royal-accs.net/order-success/">
        <button type="submit" class="btn">
            <span>Перейти к оплате</span>
        </button>
    </form>
    <form action="https://w.qiwi.com/payment/form/99" method="get" id="qiwi">
        <input name="extra['account']" type="hidden" value="380984005771"> 
        <input name="amountInteger" type="hidden" value='{{ data.price|floatformat:"-2" }}'>
        <input name="currency" type="hidden" value="RUB">                                                 
        <input name="amountFraction" type="hidden" value="0">
        <input name="extra['comment']" type="hidden" value="royal-accs [{{ rand_num }}]">
        <input  class="email_pay" placeholder="Введите свой email" name="email" type="email" required>
        <input  type="submit" class="howbay-buyButton popup-btn" name="" value="перейти к оплате" />
    </form>
</div>
{% endblock %}
{% block scripts %}
<input type="hidden" id="csrf_token" value="{{ c.csrf_token }}">
<script>
$(document).ready(function(){
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    csrftoken = getCookie('csrftoken');
})
</script>
<script>
jQuery(document).ready(function($){
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    //var csrftoken = getCookie('csrftoken');
    
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
});
</script>
<script>
    $(document).ready(function(){
        $('.pay__item').click(function(){
            if( $(this).attr('paymentType') == 'qiwi'){
                $('.order-form__inputs-right').attr('pay','qiwi')
                $(this).addClass('pay__item--active').siblings().removeClass('pay__item--active')
            }
            else{
                $('.order-form__inputs-right').attr('pay','yandex')
                $(this).addClass('pay__item--active').siblings().removeClass('pay__item--active')
                $('#yandex').find('[name=paymentType]').attr('value', $(this).attr('paymentType'))
            }
        })
        $('.order-form__inputs-right').click(function(){
            localStorage.setItem('mail', $('.order-form__email').val())
            if($(this).attr('pay') == 'qiwi'){
                $('#qiwi').submit()
            }
            else{
                $('#yandex').submit()
            }
        })
        if ($(window).width() > 767){
            // var lastScrollTop = 0;
            $('#sticky').stick_in_parent({
            inner_scrolling: true,
            offset_top: 90,
            // bottoming: false,
            // sticky_class:'page-footer'
            });
            $('#sticky')
            .on('sticky_kit:bottom', function(e) {
                $(this).parent().css('position', 'static');
                // $(this).parent().width('300');
            })
            .on('sticky_kit:unbottom', function(e) {
                $(this).parent().css('position', 'relative');
                // $(this).parent().width('300');
            })
            .on('sticky_kit:stick', function(e){
              var new_width = parseInt($(this).parent().width())
              $(this).parent().width(new_width - 20);
            });
            $('.slider_par').slick({
              slidesToShow: 1,
              slidesToScroll: 1,
              autoplay: true,
              autoplaySpeed: 5000,
              prevArrow: '<button class="slick-prev" aria-label="Previous" type="button"></button>',
              nextArrow: '<button class="slick-next" aria-label="Next" type="button"></button>',
            });	
        }
    })
</script>
{% endblock %}