@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&subset=cyrillic,cyrillic-ext');

.blue {
    color: #1890ff;
}

* {
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
}

ul {
	list-style: inside;
}
body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
    background-color: #eef2f5;
    background-image: url('/static/img/bg.png');
}

.wrapper {
    min-height: 100vh;
}

.header {
    width: 100%;
    min-height: 60px;
    background-color: #28324e;
    border-radius: 0;
}

.grey-5 {
    color: #646E7F;
}

.grey-5:hover {
    color: #798293;
}
.brand {
	margin:0;
	font-size: 28px;
	font-family: 'Spectral SC', serif;
    display: block;
    color: #0093f0;
}

.navbar.fixed-header .brand {
    color: #a3dbff;
}

.brand span.small {
    display: block;
    font-size: 10px;
    margin-top:3px;
}

.footer .brand span.small {
    margin-top: 0;
}

.db {
    display: block;
}

.mb-0 {
    margin-bottom: 0.25rem;
}
.navbar {
    background: #fff;
    box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 2px inset #00108e;
}

.btn-custom {
    -moz-border-radius: 2px;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    -webkit-border-radius: 2px;
    -webkit-transition: all 250ms ease-in-out;
    background: transparent;
    background-color: transparent;
    border-radius: 2px;
    border-width: 1px;
    transition: all 250ms ease-in-out;
}

.numerals {
    text-align: right;
}

.right {
    float: right;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #ffffff !important;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    opacity: 1;
}

.fs-14 {
    font-size: 15px;
}

.href_index {

}

.navbar li {
	color: rgb(81, 98, 116);
}

.btn-primary {
    color: #6e8cd7 !important;
    background-color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #6e8cd7;
}

.btn-warning {
    color: #f0ad4e !important;
    background-color: #fff;
}

.btn-warning:hover,
.btn-warning:focus {
    background-color: #f0ad4e !important;
}

.btn-primary-sat {
    color: #29b6f6;
    border-color: #29b6f6;
}

.btn-primary-sat:hover,
.btn-primary-sat:focus {
    background-color: #29b6f6;
}

i.fa {
    padding-right: 3px;
}
.navbar ul li {
    float: left;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-top: 5px;
}

.navbar ul li.list_brand {
    padding-top: 0px;
}

.navbar a {
    line-height: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 5px;
    letter-spacing: 0.5px;
    font-size: 10px;   
}

.navbar ul .right li a {
    letter-spacing: .6px;
}

.navbar ul .right li a:hover {
    background-color: #1890ff;
    color: #fff;
}

.blue-3 {
    color: #3498db !important;
}

.blue-4 {
    color: #2a29d4 !important;
}

.category-item {
    font-family:'Montserrat', sans-serif !important; 
    font-weight: 600;
    font-size: 16px;    
}

.content .container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
   /* -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);*/
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    background: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;

    box-shadow: 0px -2px 18px 0px rgba(72, 89, 102, 0.25);
    -moz-box-shadow: box-shadow: 0px -2px 18px 0px rgba(72, 89, 102, 0.25);
    -webkit-box-shadow:box-shadow: 0px -2px 18px 0px rgba(72, 89, 102, 0.25);
    border-radius: 10px;
}

.content .container .container-inner {
    padding: 25px 25px;
}

.content {
    padding-bottom: 65px;
}
.content .container table{
    margin-bottom: 0!important;
}

.white {
    color: #fff;
}

.btn-purchase {
    padding: 7px 18px 8px !important;
    background-color: rgb(71,151,206);
    border-radius: 3px;
    border: 1px solid rgb(  71,151,206);
    transition: 0.2s;
    font-size: 14px !important;
}


.btn-purchase:hover {
    background-color: #fff;
    color: rgb(71,151,206);
}

.btn-purchase:hover i {
    color: rgb(71,151,206);
}

.tt-up {
    text-transform: uppercase;
}

.rouble-sign {
	font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}
.sell_item {
    position: relative;
    display: block;
    background: #F9F9F9;
    border-radius: 5px;
    padding: 5px 10px 4px 10px;
    margin: 3px 0;
    font-size: 13px;
}

div.banner_box{
	width:100%;
	height: 50px;
}

.price {
    display: inline-block;
    float: right;
}


.modal-dialog .modal-content  {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #DDDDDD;
    border-radius: 2px;
    box-shadow: none;
    padding: 30px;
}

.modal-dialog .modal-header {
    border-width: 3px !important;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}
/*.modal-content {
	padding: 40px;
	height: 300px;
}
.modal-content .col-md-6 {
	height: 50px;
	line-height: 34px;
}
.modal-content .left-bl{
	text-align: center;
}*/

.footer {
	font-size: 14px;
    min-height: 200px;
    border-top: 1px solid rgba(33, 33, 33, 0.1);
    bottom: 0;
    color: #58666e;
    text-align: left !important;
    padding: 20px 0px;
    position: absolute;
    right: 0px;
    left: 0px;
    background-color: #2C3540;;
    position: static;
}

.center {
    text-align:center;
}

.footer .container {
    padding-top: 10px;
}

@media screen and (min-width: 768px) {
    .footer .footer-content .small {
        padding-left: 20px;
    }

    .right-tablets {
        float: right;
    }

    .left-tablets {
        float: left;
    }

    .footer .left-tablets {
        padding-left: 5px;
    }
}



@media screen and (max-width: 767px) {
    .center-xs {
        text-align: center;
    }

    .copyright {
        margin-top: 3rem;
    }

    .brand span.brand {
        font-size: 20px;
    }

    .brand span.small {
        font-size: 9px;
    }
}

.footer .footer-content:first-child {
    padding-top: .8rem;
    padding-bottom: 5rem;
}

.footer .footer-content {
    font-size: 12px;
}

.modal-body .row-input-item {
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.close {
	font-family: 'Roboto', sans-serif;
}

.margin-0 {
	margin: 0;
}

.w-100 {
	width: 100%;
}
.margin-0.row div {
	padding-right: 5px;
	padding-left: 5px;
}

.mt-5 {
    margin-top: 5px !important;
}

input, select,
input.form-control,
select.form-control {
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    border-radius: 2px;
    border: 1px solid #eeeeee;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

input:hover, 
input:focus,
input.form-control:hover,
input.form-control:focus {
    background-color: #fff;
    outline: none;
    box-shadow: none;
    border: 1px solid #eeeeee;
}

.row-input-item {
    font-size: 12px;
}

.form-control::placeholder {
    font-size: 12px;
}

.row-input-item .inner {
    padding: 0 3px 0 0;
}

.row-input-item.paymethods {
    margin-top: 1rem;
}


.paymethod a {
    font-size: 14px;
    font-weight: 500;
    border-radius: 0;
}

select.form-control.select_item_id {
    font-size: 12px;
    font-weight: 600;
}

@media screen and (max-width: 992px) {
    .row-input-item.paymethods .paymethod {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    table.table {
        font-size: 12px;
    }
}

a {
    text-decoration: none !important;
}

.fs-13 {
    font-size: 13px;
} 
table.table tr th {
    font-weight: 500 !important;
}

button.payment_tooltip {
    font-size: 14px;
    color: #4c49ff;
}

.tooltip.bs-tooltip-top .tooltip-inner {
    background: rgb(0, 133, 224)!important;
    color: #fff !important;
    padding: 10px 6px;
}

.tooltip .arrow:before {
    border-bottom-color:rgb(0, 133, 224) !important;
    border-top-color:rgb(0, 133, 224) !important;
}

.fa.fa-question {
    padding-right: 1px;
}

.small-1 {
    font-size: 95%;
    font-weight: 400;
}
/*table.table td {
    border-top: none !important;
}*/

.menu_href {
    color: rgb(0, 133, 224);
    transition: 0.2s;
    border: 1px dashed rgb(0, 133, 224);
    border-radius: 3px;
    padding: 6px 10px;
    font-size: 12px;
}

table.table thead th {
    cursor: auto;
    background: #f9fafb;
    color: rgba(0,0,0,.87);
    padding: .92857143em .78571429em;
    vertical-align: inherit;
    font-style: none;
    text-transform: none;
    border-bottom: 1px solid rgba(34,36,38,.1);
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    border-left: none;
}

@media screen and (max-width: 500px) {
    table.table th,
    table.table td {
        padding: 5px !important;
    }

    .btn-purchase {
        width:100%;
        padding: 4px 8px;
        border: none;
        border-radius: 2px;
    }
}

.table tbody tr {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
    transition: 0.15s;
    color: #757575;
}

.table tbody tr:hover {
    background-color: #e5ecf1;
}

.account_brand {
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    background-image: linear-gradient(-138deg, rgb(71,151,206) 14%, rgb(132, 194, 236) 100%);
    color: #fff;
}

.brand-name {
    position: relative;
    top: 2px;
	padding-left: 15px;
	font-family: 'Open Sans', serif;
    font-weight: 600;
    letter-spacing: 1px;
}

button.toggle {
	background: transparent;
}

button.toggle:hover {
	color: #000 !important;
}

div.toggle:hover {
	cursor: pointer;
}

div.banner{
    width: 100%;
    height: 50px;
    display: table;
}

div.banner img {
    display: block;
    width: 100%;
    height: auto;
}

div.image-container {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.fw-t {
	font-weight: 300;
}

.fw-m {
	font-weight: 500;
}

.fw-r {
	font-weight: 400;
}

.fw-b {
    font-weight: 600;
}

.navbar.fixed-header {
    z-index: 9999;
    position: fixed;
    top:0; left:0;
    width: 100%; 
    /*background-color: #2C3540 !important;*/
    background-color: #4582CE !important;;
    transition:0.2s ease-out;
    padding: 0.25rem 0.5rem;
}

.navbar.fixed-header a,
.navbar.fixed-header ul li a {
    color: #f0f0f0;
    text-shadow: 0 0 1px rgba(111,134,134,0.3);
    outline: none;
    transition: 0.2s;
}

.navbar.fixed-header ul li a:hover {
    color: #6edfff !important;
}
.pt-2 {
    padding-top: 2rem;
}

.modal .modal-dialog {
    padding-top: 60px;
}

.rouble-sign {
    font: 1em 'Roboto', sans-serif;
    font-weight: 400;
}


div.categories {
    text-align: center;
    display:block;
    padding-top:10px;
    padding-bottom:30px;
}

span.categories {
    font-size: 28px;
}


@media screen and (max-width: 600px) {
    table.table tr th {
        font-size: 9px !important;
    }

    table.table tr td {
        font-size: 9px;
        padding: 8px 10px !important;
    }

    .btn-purchase {
        font-size: 8px !important;
        padding: 5px 3px !important;
    }
}

.menu_href:hover {
    /*background-color: #1890ff;*/
    background-color: rgb(0, 133, 224);
    color: #d7e9ff;
}

@media screen and (max-width: 991px) {
    .navbar-collapse ul {
        border-top: 1px solid #ccc;
        padding-top: 30px;
        padding: 20px;
        font-size: 14px;
    }

    .navbar-collapse ul li {
        padding-top: 15px;
    }

    .navbar-collapse ul li span {
        width: 100%;
    }

    .navbar-collapse ul li a {
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        border: none;
        border-bottom: 1px solid #1890ff;
    }

    .navbar.fixed-header .navbar-toggler {
        border-color: #fff;
    }

    .navbar.fixed-header .navbar-toggler span {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
}

article {
    font-size: 14px;
}
article h1 {
    font-size: 28px;
}

.p35 {
    padding: 35px 35px !important;
}

.w-120 {
	width: 120px;
}